@charset  "UTF-8";

/* Common */
body {
  color: #555;
  font-family: 'Noto Sans KR', 'Pretendard', 'Malgun Gothic', '맑은 고딕', dotum, '돋움', 'AppleSDGothicNEO', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.05em;
  margin-bottom: 500px;
}

#main {
  margin-top: 90px;
}

.hide_txt {
  display: block;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.more_arrow {
  display: flex;
  align-items: center;
  color: #c8c8c8;
}

.more_arrow::after {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  border-top: 2px solid #c8c8c8;
  border-right: 2px solid #c8c8c8;
  transform: translate(6px, 1px) rotate(45deg);
}

section {
  display: flex;
  align-items: center;
  height: calc(100vh - 60px);
}

.inner {
  margin: auto;
  width: 94%;
  max-width: 1280px;
  /* height: 930px; */
  /* height: 100vh; */
}

:root {
  --mainColor: #ff7f00;
  --col-pc-8: 840px;
  --col-pc-6: 620px;
  --col-pc-4: 400px;
  --col-pc-3: 290px;
  --col-pc-2: 180px;
  /* tab용은 6컬럼으로 / 12컬럼으로 하려면 다시 계산 */
  --col-tab-3: ;
}

/* Skip Navigation */
.skip_nav a {
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  background: var(--mainColor);
  color: #FFF;
  text-align: center;
  line-height: 50px;
}

.skip_nav a:focus {
  top: 0;
}


/* Popup Area */
.popup_area {
  display: none;
}

/* Header */
#header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 5%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 60px;
  background: #FFF;
}

#header h1 a {
  display: block;
  position: absolute;
  left: 100px;
  top: 50%;
  transform: translate(0, -50%);
  background: url(../img/common/img_ci_jiransecurity@2x.png) no-repeat;
  background-size: contain;
  width: 175px;
  height: 22px;
}

#header #gnb {
  display: flex;
}

#header #gnb>li {
  margin: 0 40px;
  position: relative;
}

#header #gnb>li>a {
  display: flex;
  align-items: center;
  color: #222;
  font-size: 18px;
  font-weight: 700;
  height: 90px;
}

#header #gnb>li>a:hover {
  color: var(--mainColor);
}

#header #gnb>li:nth-child(-n+4):hover::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: var(--mainColor);
}

#header #gnb>li.gnb_corp {
  display: flex;
  margin: 0;
  align-items: center;
  position: absolute;
  right: 172px;
}

#header #gnb>li.gnb_corp::after {
  content: '';
  display: block;
  margin: 0 20px;
  width: 1px;
  height: 14px;
  background: #777;
  transform: translate(0, 1px);
}

/* 이거 왜? */
#header #gnb>li.gnb_corp>a:hover {
  color: var(--mainColor);
}

#header #gnb>li.gnb_corp>a {
  color: #777;
  font-size: 16px;
  font-weight: 400;
}

#header .util {
  display: flex;
  position: absolute;
  right: 100px;
  top: 50%;
  transform: translate(0, -50%);
}

#header .btn_search_open {
  width: 36px;
  height: 36px;
  background: url(../img/common/ico-gnb-search.png) no-repeat;
}

#header .btn_allmenu_open {
  width: 36px;
  height: 36px;
  background: url(../img/common/ico-gnb-allmenu.png) no-repeat;
}

.find_solution_box {
  display: none;
}

.allmenu_solution {
  position: fixed;
  width: 400px;
  height: 100%;
  background: var(--mainColor);
}

#header #gnb .dep2, .dep2_wrap, .search_wrap, .allmenu_wrap {
  display: none;
}

/* Index Common */

#main hgroup {
  text-align: center;
}

#main hgroup h2 {
  font-size: 36px;
  color: #111;
  font-weight: 700;
}

#main hgroup p {
  font-size: 18px;
}


/* Index */

/* Main Visual */
#main .main_visual_wrap .inner {
  display: flex;
  flex-direction: column;
}

#main .main_visual_wrap .vis_txt {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#main .main_visual_wrap .vis_txt em {
  color: var(--mainColor);
  font-weight: 700;
  letter-spacing: normal;
  font-style: normal;
}

#main .main_visual_wrap .vis_txt strong {
  margin: 40px 0;
  color: #222;
  font-weight: 700;
}

#main .main_visual_wrap .vis_vod {
  width: 50%;
}

#main .main_visual_wrap .vis_vod video {
  width: 100%;
}

/* Solution Wrap */

#main .main_solution_wrap {
  background: gold;
}
#main .main_solution_wrap .inner {
  height: 300px;
  overflow: hidden;
  background: purple;
}

/* News Wrap */

#main .main_news_wrap .news_list {
  display: flex;
}

#main .main_news_wrap .news_list li {

}

#main .main_news_wrap .news_img {
  overflow: hidden;
  /* width: 33.3333%; */
}

#main .main_news_wrap img {
  width: 100%;
}

#main .main_news_wrap .news_txt {
}

#main .main_news_wrap .news_txt strong{
  display: block;
}

/* Video Wrap */

#main .main_video_wrap {
  background: url(../img/main/bg_video.png) no-repeat center #fff6f4;
}

#main .main_video_wrap .inner {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

#main .main_video_wrap .video_txt_box {
  margin-top: 40px;
  text-align: center;
}

#main .main_video_wrap .video_txt_box p {
  margin-top: 7.2px;
  margin-bottom: 23.2px;
}

#main .main_video_wrap .video_txt_box br {
  display: none;
}

#main .main_video_wrap .video_txt_box hgroup::before {
  content: '';
  display: block;
  margin-bottom: 10.8px;
  width: 35px;
  height: 5px;
  background: var(--mainColor);
}

#main .main_video_wrap .video_txt_box a {
  position: relative;
  color: var(--mainColor);
  font-size: 18px;
  font-weight: 500;
}

#main .main_video_wrap .video_txt_box a::before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background: var(--mainColor);
  transition: width 0.3s;
}

#main .main_video_wrap .video_txt_box a:hover::before {
  width: 97px;
}


#main .main_video_wrap .video_txt_box a::after {
  border-top: 1px solid var(--mainColor);
  border-right: 1px solid var(--mainColor);
}

#main .main_video_wrap .video_box iframe{
  margin: 20px 0;
  width: 80%;
}


/*****************************************************************/
/* Media Qurey */

/* PC */
@media screen and (min-width: 1280px) {

  /* Common */

  section {
    height: calc(100vh - 90px);
  }

  /* Header */

  #header {
    padding: 0 100px;
    height: 90px;
  }

   /* Index */

  /* Index Common */
  
  #main hgroup {
    text-align: left;
  }

  /* Main Visual */

  #main .main_visual_wrap .inner {
  display: flex;
  align-items: center;
  }

  #main .main_visual_wrap .inner {
    flex-direction: row;
  }

  #main .main_visual_wrap .vis_txt {
    text-align-last: left;
    width: 50%;
  }

  #main .main_visual_wrap .vis_txt em {
    font-size: 26px;
    line-height: 34px; /* p와 맞춰주기 위해 */
  }

  #main .main_visual_wrap .vis_txt strong {
    margin: 40px 0;
    font-size: 72px;
    line-height: 100.8px;
  }

  #main .main_visual_wrap .vis_txt p {
    font-size: 20px;
    line-height: 28px;
  }

  /* Video Wrap */

  #main .main_video_wrap .inner {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  #main .main_video_wrap .video_txt_box {
    margin: 0;
    width: var(--col-pc-4);
    text-align: left;
  }
  
  /* 
  - 2단 / 6컬럼: 110(70+40)*6 - 40)
  - 3단 / 4컬럼: 110*4 - 40
  - 4단 / 3컬럼: 110*3 - 40
  - 1:2 / 8컬럼: 110*8 - 40 => 840
  */

  #main .main_video_wrap .video_txt_box br {
    display: block;
  }

  #main .main_video_wrap .video_txt_box::before {
    margin: 0 0 10.8px;
  }

  #main .main_video_wrap .video_box {
    width: var(--col-pc-8);
  }

  #main .main_video_wrap .video_box iframe{
    width: 100%;
  }
}

/* Tab */
@media screen and (min-width: 511px) and (max-width: 1279px) {
  /* Header */
  #header #gnb {
    display: none;
  }

  /* Index */
  
  /* Index Common */

  #main hgroup h2 {
    font-size: 32px;
  }

  #main hgroup p {
    font-size: 16px;
  }

  /* Main Visual */
  #main .main_visual_wrap br {
    display: none;
  }
  
  #main .main_visual_wrap .vis_txt em {
    font-size: 20px;
  }
  
  #main .main_visual_wrap .vis_txt strong {
    margin: 30px 0;
    font-size: 50px;
  }
  
  #main .main_visual_wrap .vis_txt p {
    font-size: 16px;
  }

  #main .main_visual_wrap .vis_vod {
    margin: auto;
  }

  /* Video Wrap */

  #main .main_video_wrap .video_txt_box br {
    display: none;
  }

  
#main .main_video_wrap .video_txt_box hgroup::before {
  margin: 0 auto 10.8px;
  }
}

/* Mob */
@media screen and (max-width: 510px) {
  /* Header */
  #header #gnb {
    display: none;
  }

  /* Index */

  /* Index Common */

  #main hgroup h2 {
    font-size: 24px;
  }

  #main hgroup p {
    font-size: 14px;
  }
  
  /* Main Visual */
  #main .main_visual_wrap .vis_txt em {
    font-size: 16px;
    line-height: 16px;
  }

  #main .main_visual_wrap .vis_txt strong {
    margin: 40px 0;
    font-size: 36px;
    line-height: px;
  }

  #main .main_visual_wrap .vis_txt p {
    font-size: 14px;
    line-height: 20px;
  }

  #main .main_visual_wrap .vis_vod {
    width: 100%;
  }

  /* Vedio Wrap */

  #main .main_video_wrap .video_txt_box hgroup::before {
    display: none;
  }

}

































/* .sol_content {
  width: 400px;
  padding: 50px 0;
  transition: all 0.5s;
}

.sol_content p {
  position:  relative;
  transition: all .5s;
  z-index: -1;
}

.sol_content strong {
display: block;
}

.sol_content:hover {
  background: pink;
} */