@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Common */
* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

button, select, input {
  border: none;
  background: none;
}

ul, ol, li {
  list-style: none;
}

body {
  color: #333;
  font-family: poppins, "Noto Sans KR", "맑은 고딕", "Apple SD Gothic Neo", sans-serif;
  font-size: 16px;
  letter-spacing: -0.1em;
}

:root {
  --orange: #ff7f00
}

.container {
  width: 1280px;
  min-height: 300px;
  margin: auto;
}


/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 100px;
  height: 90px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background: #FFF;
}

h1 {
  width: 180px;
  height: 24px;
  background: var(--orange);
}

nav #gnb {
  display: flex;
}

/* nav #gnb>li {margin: 0 40px; font-weight: bolder;} */
nav #gnb>li>a {
  margin: 0 40px;
  color: var(--orange);
  font-size: 18px;
  font-weight: bolder;
}

nav #gnb .dep2 {
  display: flex;
  justify-content: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 90px;
  padding: 40px 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.1), 0 0 10px rgba(0, 0, 0, 0.1);
  background: #FFF;
}

nav #gnb .dep2>li {
  width: 200px;
}

nav #gnb>li:nth-child(n+2) .dep2 {
  display: none;
}

.util {
  width: 150px;
  height: 30px;
  background: pink;
}

/* Footer */
footer {
  font-size: 14px;
}

footer .footer_menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0 20px;
  width: 100%;
  background: #DDD;
}

footer .f_menu a:first-child {
  color: orange;
  font-weight: bolder;
}

footer .f_menu a:first-child::after {
  content: ' l';
}

footer .family_site ul {
  display: none;
}

footer .family_site button {
  padding: 5px 10px;
}

footer .footer_bottom {
  margin-top: 20px;
  position: relative;
}

footer .footer_bottom address {
  margin-bottom: 20px;
  width: 700px;
  height: 40px;
  background: orchid;
}

footer .footer_bottom .sns_list {
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  width: 120px;
  height: 40px;
  background: orchid;
}

footer .footer_bottom .copyright {
  width: 250px;
  height: 20px;
  background: silver;
}


/* Main */
#main_content section {
  padding: 130px 0;
}

#main_content .container hgroup {
  text-align: center;
  margin-bottom: 50px;
}

#main_content .container hgroup h2 {
  font-size: 36px;
  font-weight: bolder;
  margin-bottom: 20px;
}

#main_content .container h3 {
  padding-top: 24px;
  font-size: 32px;
  font-weight: bolder;
}

#main_content .container hgroup p {
  color: #666;
  font-size: 18px;
  font-weight: bolder;
}

.visual {
  background: #ccc;
}

.service {}

.service .service_list {
  display: flex;
}

.service .service_content {
  padding: 80px 50px;
  border: 1px solid #000;
  width: 25%;
  height: 420px;
  text-align: left;
}

.service h3 {
  font-size: 8px;
}

.ad_vod {
  background: pink;
}

.customer {
  padding: 100px;
  background: #FFF;
}

.review_list {
  display: flex;
  justify-content: space-between;
}

.review {
  padding: 50px;
  border: 1px solid #f0f0f2;
  box-sizing: border-box;
  width: calc(50% - 20px);
  /* 반응형, 웹 만들 때는 %로! */
}

.review hgroup {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  border-bottom: 1px solid #f0f0f2;
}

.review hgroup div {
  text-align: left;
}

.review hgroup h3 {
  ddddddd;
}

.review img {
  height: 22px;
}

.news {
  padding: 100px;
  background: #f5f6f8;
}

.news_list {
  display: flex;
  justify-content: space-between;
}

.news_content {
  box-shadow: 0 10px 20px rgba(51, 51, 51, 20%);
  width: 400px;
  height: 400px;
}

.news_content a {
  display: block;
  position: relative;
}

.news_content img {
  width: 100%;
}

.news_content button {
  position: absolute;
  left: 20px;
  top: 20px;
  border-radius: 50px;
  width: 60px;
  height: 30px;
  background: #FFF;
  color: var(--orange);
  font-size: 14px;
}

.news_content .news_content_txt {
  padding: 30px 40px;
}

.news_content .news_content_txt p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  width: 90%;
  text-overflow: ellipsis;
  font-size: 22px;
  font-weight: 500;
}

.news_content .from {
  margin-top: 20px;
  color: #999;
}

.news_content .from span:first-child::after {
  content: '｜';
  margin: 0 2px;
  font-weight: 300;
}

/* 
  * 특히 가로방향으로 정렬하려는 요소를 flex-item이라고 부름.
  * flex-item의 부모(조상이 아님)는 flex-container.
  * flex-container에게 display: flex; 선언부터.
  * 나머지 디자인.
*/

.news .container>a {
  display: block;
  margin: 30px auto 0;
  padding: 15px 20px;
  border: 1px solid rgba(51, 51, 51, 20%);
  width: 150px;
  text-align: center;
}